<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin/home">Admin Panel</a>
		<a class="navbar-brand" href="/">Visit Site</a>
		<!-- Inside your view (e.g., header template) -->
       <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>

</nav>