<!-- Include the haeder.ejs  -->
<%- include("partials/header") %>
    <%- include("partials/admin_top_nav") %>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">                
				<%- include("partials/admin_nav") %>
            </div>
            <div class="col-md-9">			
                <h2>Home</h2>			
				
				<h1>Your DashBoard  Here</h1>
				
				<hr/>
        
				<h2  style="color:green;">If  you  want  to  customize  this  Blog Script please  contact  me :</h2>
				<ul>
				<li>GitHub :  http://github.com/kandiaga </li>
				<li>Facebook Page :  https://web.facebook.com/PrestaTuts/ </li>
				<li>YouTube :  https://www.youtube.com/@InnovativeSoft</li>
				<li>LinkedIn : https://www.linkedin.com/in/ndiaga-ka-239839b4/</li>
				<li>You can also BMC me : http://www.buymeacoffee.com/ndiaga </li>
				</ul>
                
            </div>
        </div>
    </div>
	
<!-- Include the admin haeder.ejs  -->
<%- include("partials/footer") %>	  
