<!-- views/categories.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
</head>
<body>
  <h1>Categories</h1>
  <ul>
    <% for (const category of categories) { %>
      <li><%= category.category_title %></li>
    <% } %>
  </ul>
  <a href="/add-category">Add New Category</a>
</body>
</html>
