<!-- views/login.ejs -->
<!-- Include the haeder.ejs  -->
<%- include("partials/front/header") %>
<%- include("partials/front/top_menu_login") %>   
    <div class="container mt-4">
      <div class="container text-center mt-5">
    <h1 class="display-4">404 Not Found</h1>
    <p class="lead">The page you're looking for could not be found.</p>
    <a href="/" class="btn btn-primary">Go to Home</a>
	
	<hr/>
	<p style="color:red;"> <%= errorMessage %></p>
  </div>
  </div>
	
<!-- Include the admin haeder.ejs  -->
<%- include("partials/footer") %>	  